@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Darker+Grotesque:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    scroll-behavior: smooth;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: $fs-md;
    font-weight: 500;
    color: $clr-white;
}

.main {
    position: relative;
    min-height: 100vh;
    background: $clr-bg-black;
    padding-bottom: 300px;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.btn {
    background: $clr-bg-dk-blue;
    border: 2px solid $clr-st-dk-blue;
    border-radius: 7px;
    padding: 10px 20px;
    color: $clr-white;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &.active {
        border-color: $clr-lt-blue;
        color: $clr-lt-blue;
    }
}