@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Darker+Grotesque:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    scroll-behavior: smooth;

    &:focus {
        outline: 2px dashed #FF002E;
        outline-offset: 5px;
    }
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: $fs-md;
    font-weight: 500;
    color: $clr-white;
}

.main {
    position: relative;
    min-height: 100vh;
    background: $clr-bg-black;
    padding-bottom: 300px;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.btn {
    background: $clr-bg-dk-blue;
    border: 2px solid $clr-st-dk-blue;
    border-radius: 7px;
    padding: 10px 20px;
    color: $clr-white;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &.active {
        border-color: $clr-lt-blue;
        color: $clr-lt-blue;
    }
}

// settings panel
.settings-panel {
    position: fixed;
    top: 60px;
    left: 60px;
    width: 370px;
    max-height: 80vh;
    overflow: auto;
    background: $clr-bg-dk-blue;
    z-index: 100;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    font-family: "Darker Grotesque";
    opacity: 0;
    transition: all 200ms ease;
    animation: fade-out 2s;

    &:hover {
        opacity: 1;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .title {
        font-size: 30px;
        padding-top: 15px;
        line-height: 1.2;
        font-weight: 700;
    }

    .label {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .four-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
    }

    input[type="color"] {
        height: 50px;
        background: none;
        border: 2px solid $clr-lt-blue;
        border-radius: 7px;
    }

    .credits {
        font-size: $fs-sm;
        padding-top: 30px;
        opacity: 50%;
    }
}

@keyframes fade-out {
    0%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}