@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Darker+Grotesque:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    scroll-behavior: smooth;
}

.main {
    position: relative;
    min-height: 100vh;
    background: $clr-bg-black;
    color: $clr-white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: $fs-md;
    font-weight: 500;
    padding-bottom: 300px;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}