// colors
$clr-bg-black: #050608;
$clr-bg-dk-blue: #161B23;
$clr-st-dk-blue: #272E39;
$clr-lt-blue: #98B7E3;
$clr-white: #EFF6FF;

$clr-grey: #3C4856;
$clr-red: #FF3E61;

// font sizes
$fs-lg: 96px;
$fs-md: 20px;
$fs-sm: 18px;
$fs-xs: 16px;